# VS / Visual Studio
.vs/
*.vcxproj*
*.user
*.suo
*.sln

# Compiled binaries
*.exe
*.obj
*.o
*.dll
*.lib

# Build directories
Debug/
Release/
build/

# SFML or other libraries
*.a
*.so
*.dylib

# OS-specific
Thumbs.db
.DS_Store
